<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi primera pagina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="primary" shape="round"  expand="block">Botón</ion-button><br>
    <ion-button color="primary">Botón 2</ion-button><br>
    <ion-button color="light"  size="small">Botón 3</ion-button><br>
    <ion-button color="dark"  size="large">Botón 4</ion-button><br>
    
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
